body {
    font-family: sans-serif;
    background-color: violet;
    margin-top: 10px;
}

.center {
    text-align: centre;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 500px;
}

